<!DOCTYPE html>
<html ng-app="pdm">
<head>
    <title>af-app</title>
    <script src="http://l.tbcdn.cn/apps/top/x/sdk.js?appkey={{app_key}}"></script>
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/jquery-barcode.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/d3.v3.min.js"></script>
    <script type="text/javascript" src="js/pdm.js"></script>

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
<script>
conf = {
  app_key: '{{app_key}}',
  app_secret: '{{app_secret}}',
  sign: '{{sign}}',
  session: '{{params.top_session}}',
  app_loginurl: '{{app_loginurl}}'
}

use = function(method, params, fields, callback){
  params = params || {};
  callback = callback || function(res){console.log(res)};
  var conf = {
    method: method,
    session:'{{params.top_session}}',
    timestamp:'{{timestamp}}',
    fields: fields
  };
  for(var p in params){
    conf[p] = params[p];
  };
  TOP.api(conf, callback);
}

sync_sales = function(tid){
  TOP.api({
    method:'taobao.trades.sold.get',
    start_created: '2014-01-01 00:00:00',
    status: 'TRADE_FINISHED',
    page_size: '100',
    session:'{{params.top_session}}',
    timestamp:'{{timestamp}}',
    fields:'seller_nick,buyer_nick,title,type,created,sid,tid,seller_rate,buyer_rate,status,payment,discount_fee,adjust_fee,post_fee,total_fee,pay_time,end_time,modified,consign_time,buyer_obtain_point_fee,point_fee,real_point_fee,received_payment,commission_fee,pic_path,num_iid,num_iid,num,price,cod_fee,cod_status,shipping_type,receiver_name,receiver_state,receiver_city,receiver_district,receiver_address,receiver_zip,receiver_mobile,receiver_phone,orders.title,orders.pic_path,orders.price,orders.num,orders.iid,orders.num_iid,orders.sku_id,orders.refund_status,orders.status,orders.oid,orders.total_fee,orders.payment,orders.discount_fee,orders.adjust_fee,orders.sku_properties_name,orders.item_meal_name,orders.buyer_rate,orders.seller_rate,orders.outer_iid,orders.outer_sku_id,orders.refund_id,orders.seller_type'
  },function(resp){
    if(resp){
      console.log(resp);
      $('#trade-details').html(JSON.stringify(resp))
    }else{
      console.log('failure!');
    }
  });
}

</script>
</head>
<body>
<div ng-controller="HomeCtrl">
  <div ng-include="'html/home.html'"></div>
</div>


</body>
</html>
